.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  color: white;
  text-align: left;
  height: 80px;
}
.header h1 {
  margin: 0 30px;
  padding-top: 20px;
}

section {
  display: flex;
}
