.App {
  text-align: center;
}

header {
  padding: 20px 0;
}

.App-logo {
  animation: App-logo-color infinite 10s linear;
  font-size: 50px;
  padding: 20px 30px;
}

.App-header {
  background-color: #282c34;
  height: 300px;
  color: white;
  text-align: left;
  position: relative;
}

@keyframes App-logo-color {
  0% {
    color: rgb(228, 63, 63);
  }
  20% {
    color: rgb(63, 34, 165);
  }
  40% {
    color: #3e72db;
  }
  60% {
    color: #3cceb5;
  }
  80% {
    color: #4cd357;
  }
  100% {
    color: rgb(123, 61, 223);
  }
}

.branding {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 40px;
  display: inline-block;
}

p {
  padding: 0;
  font-size: 20px;
  width: 250px;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  text-align: left;
  padding: 50px 0;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login {
  background-color: #282c34;
  color: white;
  margin: 0 auto;
}

.login-form input {
  margin-bottom: 20px;
  width: 360px;
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
  outline: none;
  border: 1px solid rgb(150, 144, 144);
}
.login-form input[type="submit"] {
  background: rgb(30, 33, 37);
  color: #fff;
  cursor: pointer;
}
