ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  padding: 10px;
  line-height: 2px;
  border: 1px solid rgb(17, 51, 44);
  border-radius: 5px;
  width: 200px;
  margin-bottom: 5px;
  background: rgb(139, 241, 182);
  box-shadow: 7px 7px 5px 0px rgba(52, 78, 64, 0.75);
}

li:hover {
  cursor: pointer;
}

.form {
  width: 300px;
  border: 1px solid rgb(165, 172, 169);
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px 0;
}
form label {
  margin-right: 10px;
  display: block;
  margin-bottom: 4px;
}
form input {
  margin-bottom: 7px;
}
form input[type="submit"] {
  display: block;
  margin: 0 auto;
  border: 1px solid rgb(17, 51, 44);
  background: rgb(139, 241, 182);
  padding: 4px 20px;
  color: rgb(17, 51, 44);
  font-weight: 600;
}
form input[type="submit"]:hover {
  background: rgb(17, 51, 44);
  color: rgb(139, 241, 182);
  cursor: pointer;
}
