.App {
  text-align: center;
}

header {
  padding: 20px 0;
}

.App-logo {
  animation: App-logo-color infinite 10s linear;
  font-size: 50px;
  padding: 20px 30px;
  float: left;
}

.App-header {
  background-color: #282c34;
  color: white;
  text-align: left;
}

@keyframes App-logo-color {
  0% {
    color: rgb(228, 63, 63);
  }
  20% {
    color: rgb(63, 34, 165);
  }
  40% {
    color: #3e72db;
  }
  60% {
    color: #3cceb5;
  }
  80% {
    color: #4cd357;
  }
  100% {
    color: rgb(123, 61, 223);
  }
}

h1 {
  margin-top: 20px;
  display: inline-block;
}
p {
  margin: 30px 0;
  padding-bottom: 20px;
}
